<body>
<div class="container">
    <header>
        <h1>Todo List</h1>

        <form class="new-task">
            <input type="text" name="text" placeholder="Type to add new tasks" />
        </form>
        <ul>
            {{#each users}}
                {{> user}}
            {{/each}}
        </ul>
    </header>
</div>
</body>

<template name="user">
    <li>{{text}}</li>
</template>