<!--<template name="task">-->
<!--    <li class="{{#if checked}}checked{{/if}}">-->
<!--        <button class="delete">&times;</button>-->

<!--        <input type="checkbox" checked="{{checked}}" class="toggle-checked" />-->

<!--        <span class="text">{{text}}</span>-->
<!--    </li>-->
<!--</template>-->